/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require simple_calendar
 */

body{
  /* background-color: #EDF2FB; */
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
}

.genre-icon{
  color: #EDF2FB;
  background-color: #e59367;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px;
  margin: 0px 5px;
}

.genre-icon:hover{
  background-color: #fff;
  color: #e59367;
}
.a-box{
  margin: 10px;
  height: 30px;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
  color: #7796CB;
  font-weight: bold;
}

.box label{
	display: block;
	padding: 10px;
	margin-bottom: 5px;
  cursor: pointer;
}

.box input[type="checkbox"].on-off,
.box input[type="checkbox"].on-off +div{
	display: none;
}

.box input[type="checkbox"].on-off:checked +div{
  display: block;
}

.box div{
	margin: 0 0 20px;
}

.box_label{
  background-image: url("../images/arrow_left.png");
  background-size: 15px;
  display: inline;
}

/* classrooms#index */
.class-box{
  border-radius: 10px;
  background-color: #bce2e8;
  margin: 20px;
  padding: 20px;
}
/* classrooms#index */

/* newページ */

.form-label{
  font-weight: bold;
}
/* 必須マーク */
.indispensable{
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.text-box{
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.input-name{
  width: 49%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-flame{
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.select-box{
  display: block;
}

.field{
  margin: 20px;
}
/* newページ */

/* チャット枠 */
/* .chat-group{
  display: inline;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
} */
/* 一番大きいとこ */
.form {
  background-color: #DDDDDD;
  height: 140px;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}
.form-input {
  background-color: white;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.form-message {
  border-radius: 5px;
  border: none;
  height: 100px;
  width: 100%;
  padding-left: 10px;
}
.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 5px;
}

.btn-contents {
  display: inline;
  /* margin-top: 20px; */
}
/* もどるボタン */
.back-btn {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #aaa;
  border-color: #aaa;
  display: block;
  margin: 20px auto 0 auto;
  width: 100px;
}

/* Chatrooms#show */
.chat-flame{
  background-color: #F0F8FF;
  min-width: 450px;
  padding: 10vh 5vw 0 5vw;
}

.chat-display1{
  border: lightblue solid 1px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  margin-right: 50px;
}

/* chatrooms#show ここから */
.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;

}

/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 400px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  text-align: right;
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 400px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
  text-align: right;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* chatrooms#show ここまで */

/* 学生ドロップダウンメニュー ここから*/

/* 学生ドロップダウンメニュー ここまで*/

/* 宿題提出ページ学生のboxここから */
.submission-box{
  background-color: #edf2fb;
  border-radius: 5px;
  border: solid 2px  lightskyblue;
  width: 450px;
  margin: 10px;
  padding: 10px;
}
/* 宿題提出ページ学生のboxここまで */

/* チャットの通知ここから */
.notification{
  display: inline;
  background-color: red;
  border-radius: 10px;
  padding: 2px 5px;
}

/* チャットの通知ここまで */

/* 編集・削除ボタン */
.btn-box{
  display: flex;
  justify-content: space-around;
}
/*/編集・削除ボタン */

/* TOPページ */
.top-moji {
  text-align: center;
  margin: 30px;
}

.lists {
  display: flex;
  justify-content: space-around;
}

.list {
  list-style: none;
  text-align: center;
  margin: 20px;
}

.list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.list-description {
  font-size: 18px;
  margin-top: 20px;
}

.pic{
  width: 100%;
}

.lists-a {
  display: flex;
  justify-content: space-around;
}

.space{
  margin: 30px;
}
/* TOPページ */